<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
      <li v-for="(cor, i) in cores">{{cor}} - {{ i }}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
      <h1>{{cor}}</h1>
      <p>{{i +1 }}</p>
    </template>
</div>

<script>
  new Vue({
    el: '#app',
    data:{
      cores: ['red', 'blue', 'black', 'green'],
      pessoas: [
        { nome: 'Ana', idade: 43, peso: 59},
        { nome: 'Gui', idade: 23, peso: 89},

      ]
    }
  })
</script>